$content-font-size: 16;
$content-headings-font-size: 34;

@custom-selector :--headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6;

:root {
	--content-font-family: "Open Sans", sans-serif;
	--content-font-weight: 400;
	--content-font-size: 16px;
	--content-line-height: 1.5;
	--content-color: #7c7c7c;
	--content-link-color: #3cb371;
	--content-space: 1em;

	// Headings
	--content-headings-font-family: "Roboto", sans-serif;
	--content-headings-font-weight: 700;
	--content-headings-font-size: 34px;
	--content-headings-line-height: 1.25;
	--content-headings-color: #0a0a0a;

	--content-h1-font-size: var(--content-headings-font-size);
	--content-h2-font-size: calc(var(--content-headings-font-size) * 28 / 34);
	--content-h3-font-size: calc(var(--content-headings-font-size) * 26 / 34);
	--content-h4-font-size: calc(var(--content-headings-font-size) * 24 / 34);
	--content-h5-font-size: calc(var(--content-headings-font-size) * 22 / 34);
	--content-h6-font-size: calc(var(--content-headings-font-size) * 20 / 34);

	@media (--lt-md) {
		--content-font-size: 15px;
		--content-headings-font-size: 28px;
	}
}

.content {
	@include reset;

	font-family: var(--content-font-family);
	font-weight: var(--content-font-weight);
	font-size: var(--content-font-size);
	line-height: var(--content-line-height);
	word-wrap: break-word;
	color: var(--content-color);

	a {
		color: var(--content-link-color);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p, blockquote {
		// page-break-inside: avoid;
	}

	p, blockquote, ul, ol, dl, table, pre {
		margin-top: 0;
		margin-bottom: var(--content-space);
	}

	:--headings {
		margin-top: calc(var(--content-space) * 1.5);
		margin-bottom: var(--content-space);
		font-weight: var(--content-headings-font-weight);
		line-height: var(--content-headings-line-height);
		color: var(--content-headings-color);
	}

	h1, .h1 {
		font-size: var(--content-h1-font-size);
	}

	h2, .h2 {
		font-size: var(--content-h2-font-size);
	}

	h3, .h3 {
		font-size: var(--content-h3-font-size);
	}

	h4, .h4 {
		font-size: var(--content-h4-font-size);
	}

	h5, .h5 {
		font-size: var(--content-h5-font-size);
	}

	h6, .h6 {
		font-size: var(--content-h6-font-size);
	}

	ul,
	ol {
		padding-left: 2.5rem;
	}

	li + li {
		margin-top: calc(var(--content-space) * 0.25);
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	ul {
		overflow: hidden;

		> li {
			position: relative;
			list-style: none;

			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-left: (-2.5rem / 2);
				margin-right: calc(2.5rem / 2 - 8px);
				width: 8px;
				height: 8px;
				background-color: #2a2a2a;
			}
		}
	}

	dl {
		padding: 0;

		dt {
			margin-top: var(--content-space);
			padding: 0;
			font-weight: 700;
			font-style: italic;
			font-size: 1em;
		}

		dd {
			margin-bottom: var(--content-space);
			margin-left: 0;
			padding: 0 1em;
		}
	}

	pre {
		overflow: auto;
		padding: 1em;
		font-size: 85%;
		line-height: 1.45;
		word-wrap: normal;
	}

	code {
		margin: 0;
		padding: 0.2em 0.4em;
		font-size: 85%;
	}

	img {
		vertical-align: middle;
		max-width: 100%;
	}

	b, strong {
		color: var(--content-headings-color);
	}

	blockquote {
		position: relative;
		margin: calc(var(--content-space) * 2.5) 2.5rem;
		border-left: 4px solid var(--content-headings-color);
		padding: 1rem 0 1rem calc(1rem + 4px);

		&::before {
			content: '“';
			position: absolute;
			top: 0;
			left: calc(-2.5rem - 4px);
			font-weight: 700;
			font-size: 72px;
			line-height: 0.86;
			color: var(--content-headings-color);
		}
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	&--invert {
		color: var(--page-background-color);

		:--headings {
			color: var(--page-background-color);
		}
	}
}
