%reset {
	all: initial;

	// Properties dependent of browser
	quotes: "“" "”" "‘" "’";
	font-family: var(--content-font-family);
	text-align: left;
	color: var(--content-color);
	outline-color: var(--content-color);

	&:focus-visible {
		outline: 1px dotted currentColor;
		outline: 5px auto -webkit-focus-ring-color;
	}

	// Overwrite some properties
	display: block;
	box-sizing: border-box;
}

@mixin reset {
	@extend %reset;
}
