extends ../pug/base

block app
	index-page(inline-template)
		div.index-page
			template
				header.header
					.__container
						a.__logo(href="/")
							img.__logo-img(
								src="img/logo.svg"
								alt="Викиум"
							)

				main.main
					section.pay-section
						.__container
							.__content-col
								h1.__title Три дня для твоего мозга.
								p.__desc Это стоит символические #[strong 60&nbsp;рублей], для&nbsp;того, чтобы была мотивация пройти этот путь до&nbsp;конца

							.__form-col
								pay-form
